@model IEnumerable<House.Models.Products>
@{
    ViewData["Title"] = "Index";
}

<br/>

<div class="row">
    <div class="col-sm-6">
        <h2 class="text-info">Product List</h2>
    </div>
    <div class="col-sm-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp;+ New product</a>
    </div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Price)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Available)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ProductTypes)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.SpecialTags)
            </th>
            <th></th>
        </tr>
        @foreach (var p in Model) {
            <tr>
                <td>
                    @Html.DisplayName(p.Name)
                </td><td>
                    @($"{p.Price:C}")
                </td><td>
                    @Html.DisplayFor(m=>p.Available)
                </td><td>
                    @Html.DisplayName(p.ProductTypes.Name)
                </td>
                <td>
                    @if (p.SpecialTags.Name != "--none--") {
                        
                    @Html.DisplayName(p.SpecialTags.Name)
                    }
                </td>
                <td>
                    @await Html.PartialAsync("_ProductButtonsPartial", p.Id)
                </td>
            </tr>
        }

    </table>
</div>